/* UI Styles */
.navbar {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.navbar * {
    display: block;
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--ui-border-color);
    color: var(--link-active-color);
    text-decoration: none;
}

.navbar a {
    color: var(--link-color);
}

.navbar a:hover {
    color: var(--link-active-color);
    background-color: var(--paper-tinted);
}

.navbar *:last-child {
    margin-left: auto;
    border-left: 1px solid var(--ui-border-color);

}

.navbar div {
    color: var(--link-active-color);
    border-bottom: var(--link-active-color) 2px solid;
}

.pageTurner {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pageTurner a {
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    padding: 1em 1.5em;
    text-transform: uppercase;
    color: var(--link-color);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: 2em;
}

.pageTurner a:hover {
    color: var(--link-active-color);
    text-decoration: underline;
}

.chapterHeader {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

/* Container Utilitiy */
.row {
    /* row streches all the way to occupy the entire width */
    position: relative;
    width: 100%;
}

.wide,
.narrow {
    margin: 0 auto;
    padding: 0.2rem 0;
    text-align: center;
}

.wide {
    max-width: 1240px;
    width: 100%;
}

.narrow {
    max-width: 930px;
    width: 75%;
}

.white {
    background-color: var(--paper-color);
    color: var(--link-active-color);
}

.black {
    background-color: black;
    color: #eee;
}

.layers {
    /* Use this to layer images and create animated effects*/
    position: relative;
}

/* Typography */
.narration,
.dialog {
    font-size: 1.5rem;
    line-height: 2em;
}

/* Image Styles */
.hero {
    /* bleeding on small screen, go under .wide */
    width: 100%;
    height: auto;
}

.panelL {
    /* full width on small screen, contained on large under .narrow */
    width: 100%;
    height: auto;
    /* max-width: 800px; */
}

.panelM {
    /* 1/2 of max row width on large screen */
    width: 100%;
    height: auto;
    max-width: 453px;
}

.panelS {
    /* 1/3 of max row width on large screen */
    width: 100%;
    height: auto;
    max-width: 294px;
}

.onoma {
    /* layers on top of main */
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
}

.speech-bubble {
    position: absolute;
    text-align: center;
    display: inline-block;
    padding: 0.5em;
    background-color: white;
    border-radius: 5px;
    border: 6px solid transparent;
    /* border-image: url(./assets/speech.png) 33% stretch; */
}

.speech-bubble.right::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: -23px;
    left: 40%;
    background-repeat: no-repeat;
    background-size: contain;
    /* background-image: url('./assets/speech-tail-right.png'); */
}

.speech-bubble.left::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: -23px;
    left: 35%;
    background-repeat: no-repeat;
    background-size: contain;
    /* background-image: url('./assets/speech-tail-left.png'); */
}

.speech-bubble.left-top::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: -23px;
    left: 55%;
    background-repeat: no-repeat;
    background-size: contain;
    /* background-image: url('./assets/speech-tail-left-top.png'); */
}