/* UI Styles */
.navbar {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.navbar * {
    display: block;
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--link-active-color);
    text-decoration: none;
}

.navbar a {
    color: var(--link-color);
}

.navbar a:hover {
    color: var(--link-active-color);
    background-color: var(--paper-tinted);
}

.navbar *:last-child {
    margin-left: auto;
    border-left: 1px solid var(--ui-border-color);

}

.navbar div {
    position: relative;
    color: var(--link-active-color);
    border-bottom: var(--link-active-color) 2px solid;
}

.navbar div::after {
    position: absolute;
    bottom: 0;
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid var(--link-active-color);

}


.mobileNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--ui-border-color);
}

.title {
    font-size: 1.6rem;
    padding: 1em;
}

.mobileNav button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    margin: 1rem;
    background-color: transparent;
}

.mobileNav button svg {
    fill: var(--link-active-color);
}

.pageTurner {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pageTurner a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1em 1.5em;
    text-transform: uppercase;
    color: var(--link-color);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: 2em;
}

.pageTurner a:hover {
    color: var(--link-active-color);
    text-decoration: underline;
}

.chapterHeader {
    position: relative;
    margin: 0 auto;
    text-align: center;
    padding-top: 3em;
}

.chapterHeader::after {
    content: '☙ ☙ ☙';
    font-size: 2em;
    line-height: 5em;
}

/* Container Utilitiy */
.row {
    /* row streches all the way to occupy the entire width */
    position: relative;
    width: 100%;
}

.wide,
.narrow {
    margin: 0 auto;
    padding: 2rem 0;
    text-align: center;
}

.wide {
    max-width: 1240px;
    width: 100%;
}

.narrow {
    max-width: 930px;
    width: 75%;
}

.white {
    background-color: white;
    color: var(--link-active-color);
}

.black {
    color: var(--paper-color);
    background-color: black;
}

.layers {
    /* Use this to layer images and create animated effects*/
    position: relative;
}

/* Typography */
.narration {
    font-size: 1.3rem;
    line-height: 2em;
    letter-spacing: 0.25em;
}

/* Image Styles */
.hero {
    /* bleeding on small screen, go under .wide */
    width: 100%;
    height: auto;
}

.panelL {
    /* full width on small screen, contained on large under .narrow */
    width: 100%;
    height: auto;
    max-width: 800px;
}

.panelM {
    /* 1/2 of max row width on large screen */
    width: 100%;
    height: auto;
    max-width: 453px;
}

.panelS {
    /* 1/3 of max row width on large screen */
    width: 100%;
    height: auto;
    max-width: 294px;
}

.onoma {
    /* layers on top of main */
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto
}

.speechBubble {
    position: absolute;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.6em;
    letter-spacing: 1px;
    display: inline-block;
    padding: 0.5em;
    background-color: white;
    border-radius: 5px;
    border: 6px solid transparent;
    border-image: url(../../public/speech.png) 33% stretch;
}

.speechBubble.right::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: -23px;
    left: 40%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../public/speech-tail-right.png');
}

.speechBubble.left::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: -23px;
    left: 35%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../public/speech-tail-left.png');
}

.speechBubble.leftTop::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: -23px;
    left: 55%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../public/speech-tail-left-top.png');
}


@media screen and (max-width: 768px) {

    .navbar * {
        font-size: 1.6rem;
        padding: 1em;
        width: 100%;
        border-bottom: 1px solid var(--ui-border-color);
    }

}