.main {
  display: flex;
  flex-flow: column nowrap;
  height: calc(100vh - 27px);
}

.hero {
  position: relative;
  flex-grow: 1;
  color: white;
  padding-left: 5em;
  padding-top: 5em;
  background: radial-gradient(158.28% 91.38% at -0.69% 0.00%,
      #bfd9e9 0%,
      #6ca8c7 100%);
}

.title {
  font-size: 3rem;
}

.title span {
  font-size: 5rem;
  line-height: 1.5em;
}

.navbar {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  /* Needs better optimization for small screens*/
}


.navbar a {
  font-size: 1.2rem;
  padding: 2.5em 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid var(--ui-border-color);
  color: black;
  text-decoration: none;
}

.navbar a:hover {
  background-color: var(--paper-tinted);
}

.navbar a:last-child {
  margin-left: auto;
  color: white;
  background-color: #222;
  border-left: 1px solid var(--ui-border-color);
}

.navbar a:last-child:hover {
  text-shadow: #000 0 1px 3px;
  background: linear-gradient(to bottom, #333 0%, #222 50%);
}