.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #000;
}

.navbar>* {
    display: block;
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #222;
    text-decoration: none;
}

.navbar>a {
    box-shadow: #000 0px 0px 0;
}

.navbar>a:hover {
    box-shadow: #000 0px 2px 0;
    background-color: var(--paper-tinted);
    transition: all 0.3s ease;
}

.navbar>a:last-child {
    position: relative;
    margin-left: auto;
    height: 100%;
    color: #000;
    border-bottom: #000 2px solid;
    border-left: #000 1px solid;
}

.navbar>a:last-child::after {
    position: absolute;
    bottom: 0;
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #000;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.wrapper main {
    flex-grow: 1;
    background-color: #EEEAC9;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.control {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.control button {
    width: 27%;
    background-color: transparent;
}

.icon {
    width: 100%;
    height: auto;
    border-radius: 20px;
    border: 2px solid #000;
    box-shadow: #000 4px 4px 0;
}

.icon:hover {
    cursor: pointer;
    box-shadow: #000 8px 8px 0;
    transform: scale(0.95);
    transition: all 0.3s ease;
}

.info {
    --pos: calc(50% - 0.5rem);
    position: relative;
    width: 100%;
    max-width: 1100px;
    margin: calc(1rem + 20px) auto 0;
    padding: 1.5rem;
    display: block;
    background-color: white;
    border: 2px solid #000;
    box-shadow: #000 4px 4px 0;
    transition: all 0.5s ease;
}

.info::before {
    --sz: calc(1rem + 3px);
    position: absolute;
    top: calc(-1 * var(--sz));
    left: calc(var(--pos) - 2px);
    content: '';
    width: 0;
    height: 0;
    border-left: var(--sz) solid transparent;
    border-right: var(--sz) solid transparent;
    border-bottom: var(--sz) solid black;
}

.info::after {
    position: absolute;
    top: -1rem;
    left: var(--pos);
    content: '';
    width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid white;
}

.info a {
    font-size: 1rem;
    padding: 0.75em 1.2em;
    border-radius: 10px;
    color: #F3F1EB;
    background-color: #333;
    float: right;
}

.info a:hover {
    transform: scale(0.95);
    background-color: #222;
    box-shadow: #222 4px 4px 0;
    transition: all 0.3s ease;
}

.info p {
    margin-top: 1rem;
}