.jamGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: calc(100% - 4rem);
    margin: 0 auto;
}

.cell {
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fly {
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: rgb(240, 239, 207);
    border-radius: 50%;
    box-shadow: 0 0 1rem #daa089;
    filter: blur(2px);
    opacity: 0;
}