.jamGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.cell {
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(208, 207, 132);
    border-color: #dad989 #d0b75e #7c813e;
    border-width: 2px;
    transition: all 0.3s ease;
}

.cell:hover {
    border-color: #eae9a4 #d0b75e #7c813e;
    border-width: 4px;
    cursor: pointer;
}

.blue {
    background-color: rgb(126, 183, 212);
}

.pink {
    background-color: rgb(221, 149, 149);
}

.mustard {
    background-color: rgb(208, 207, 132);
}