/* Chapter-specific Keyframe Animation */

@keyframes float {
    from {
        transform: translate(5px, -10px);
    }

    to {
        transform: translate(0px, 5px);
    }
}

@keyframes flare {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(30%) rotate(-30deg);
    }

    100% {
        opacity: 0.5;
        transform: translate(-50%, -50%) scale(30%) rotate(-10deg);
    }
}